/*Universal styles*/

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Merriweather', serif;
	font-size: 15px;
	color: #777;
}

/*Mobile layout styles*/

.wrap {
	margin: 1em;
	text-align: center;
}

/*Style the input*/

input {
	background: rgba(255,255,255,.01);
	border: 1px solid #d7ddde;
	border-radius: 0.3em;
	height: auto;
	margin: 0;
	outline: 0;
	padding: 13px;
	width: 100%;
	background-color: #e8eeef;
	color: #8a97a0;
	box-shadow: 0 1px 0 rgba(0,0,0,.03) inset;
}

input[type="search"] {
	margin: 1em 0;
	box-sizing: border-box;
}

/*Style the placeholder*/

input[placeholder]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-size: 0.9em;
}

input[placeholder]::-moz-placeholder { /* Firefox 19+ */
	font-size: 0.9em;
}

input[placeholder]:-moz-placeholder { /* Firefox 18- */
	font-size: 0.9em;
}

input[placeholder]:-ms-input-placeholder { /* IE 10+ */
	font-size: 0.9em;
}

/*Style the ul*/

ul {
	list-style-type: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	padding: 0;
}

ul li {
	margin: 0 30px;
	margin-bottom: 60px;
}

ul li a img {
	width: 200px;
}


/*Style for play icons of hover on videos*/
ul li a {
	float: left;
	position: relative;
}

ul li a:hover .play {
	display: block;
}

.play {
	position: absolute;
	display: none;
	top: 30%;
	opacity: 0.75;
	width: 70px;
	margin: 0 auto;
	left: 0px;
	right: 0px;
	z-index: 100;
}

/*Style for the overlay*/

#overlay {
	background: rgba(0,0,0,0.97);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 200;
}

/*Styles for arrows*/

#overlay div {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

#overlay div img {
	width: 100%;
	height: 100%;
	order: 2;
}

#overlay div iframe {
	order: 2;
	width: 100%;
}

.previous-arrow,
.next-arrow {
	order: 1;
	width: 100px;
	height: 70px;
	color: white;
	border: none;
}

.previous-arrow {
	background: url(http://www.techrum.vn/galleria/themes/folio/left.png) no-repeat 50% 50%;
}

.next-arrow {
	background: url(http://www.techrum.vn/galleria/themes/folio/right.png) no-repeat 50% 50%;
}

.previous-arrow:focus,
.next-arrow:focus {
	outline: none;
}

#overlay p {
	color: white;
	max-width: 600px;
	padding: 1em;
	margin: 0;
}

/*Tablet layout styles*/
@media screen and (min-width: 760px) {
	input[type="search"] {
		width: 460px;
	}

	#overlay div img {
		order: 1;
		width: calc(100% - 220px);
	}

	#overlay div iframe {
		order: 1;
		width: calc(100% - 220px);
	}

	.previous-arrow,
	.next-arrow {
		height: 50vh;
	}

	.next-arrow {
		order: 2;
	}
}

/*Desktop layout styles*/
@media screen and (min-width: 1100px) {
	.wrap {
		max-width: 1040px;
		margin-left: auto;
		margin-right: auto;
	}

	ul {
		justify-content: flex-start;
	}

	/*Style for the overlay*/

	#overlay div {
		width: 1024px;
	}

	iframe {
		width: 800px;
	}
}
